$apache-bg: #d8dbe2;
$apache-white: #ffffff;
$apache-black: #000000;
$apache-grey: #8e9cb2;
$apache-red: #cd214f;
$apache-link-bg: #dcdfe6;
$apache-link-hover-bg: #000000;
$apache-link-hover-text: #ffffff;
$apache-focus: #ffd700;
$apache-header-bg: #f5f6f7;
$apache-section-grey: #9f9386;
$apache-border: #212738;
$apache-table-header: #8e9cb2;
$apache-table-row: #f5f6f7;
$apache-table-border: #cd214f;
